// Container
$min-supported-screen-width: 1366px !default;
$body-min-width: $min-supported-screen-width - $vertical-scrollbar-width !default; // 1349
$container-width: $body-min-width - (2 * $gap) !default; // 1301 if font-size 16; 1307 if font-size 14;

html {
  overflow-x: auto;
}

body {
  min-width: $body-min-width;
}

.container {
  max-width: $container-width !important;
  width: $container-width !important;
}

.tabs {
  overflow-x: visible;
}