html {
  font-size: $body-size;
  height: 100%;
}

body {
  font-size: $size-normal;
  min-height: 100%;
  position: relative;
  word-break: break-word;
}

// Mobile font size and gap
@include mobile {
  // reduce font size
  html {
    font-size: $body-size-mobile;
  }

  // $section-gap
  .section {
    padding-left: $section-gap-mobile;
    padding-right: $section-gap-mobile;

    @include desktop {
      &.is-medium,
      &.is-large {
        padding-left: $section-gap-mobile;
        padding-right: $section-gap-mobile;
      }
    }
  }

  // $column-gap
  .column {
    padding: $column-gap-mobile;
  }

  .columns {
    margin-left: (-$column-gap-mobile);
    margin-right: (-$column-gap-mobile);
    margin-top: (-$column-gap-mobile);
    &:last-child {
      margin-bottom: (-$column-gap-mobile);
    }
    &:not(:last-child) {
      margin-bottom: calc(1.5rem - #{$column-gap-mobile});
    }
  }
}

// Hidden directive
[hidden] { 
  display: none !important;
}

// Reorder Handle
.reorder-handle { 
  cursor: ns-resize; 
}

// Remove link img border in IE10
a img {
  border: 0;
}

// Hide HTML5 Up and Down arrows for input number
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// Stop Browser's Default Focus outline
:focus {
  outline: 0;
}

// IE has no break-word
body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
