$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
$box-shadow-hovered: 1px 3px 10px 2px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;

// Flexbox
.is-flex-1, .is-flex.is-flex-1 {
  flex: 1;
}

.is-space-between, .is-flex.is-space-between {
  justify-content: space-between;
}

.is-space-around, .is-flex.is-space-around {
  justify-content: space-around;
}

.is-justify-center, .is-flex.is-justify-center {
  justify-content: center;
}

.is-align-center, .is-flex.is-align-center {
  align-items: center;
}

// Vertical Align
.is-vertical-middle {
  vertical-align: middle;
}

.is-vertical-top {
  vertical-align: top;
}

// Margin
.is-margin-right {
  margin-right: 1.5rem;
}

.is-margin-left {
  margin-left: 1.5rem;
}

.is-margin-top {
  margin-top: 1.5rem;
}

.is-margin-bottom {
  margin-bottom: 1.5rem;
}

.is-margin-left-auto {
  margin-left: auto;
}

.is-margin-right-auto {
  margin-right: auto;
}

.is-margin-both-auto {
  margin-left: auto;
  margin-right: auto;
}

// Typography
.has-text-size-small {
  font-size: $size-small;
}

.has-text-size-normal {
  font-size: $size-normal;
}

.has-text-size-medium {
  font-size: $size-medium;
}

.has-text-size-large {
  font-size: $size-large;
}

.has-text-size-xlarge {
  font-size: $size-xlarge;
}

.has-text-size-xxlarge {
  font-size: $size-xxlarge;
}

.has-text-light { // has-text-light color is different to is-light
  color: $text-light !important;
}

.has-text-strong {
  color: $text-strong !important;
}

.is-single-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.is-double-line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  /* autoprefixer: ignore next */
  -webkit-box-orient: vertical;
}

// Other
.overflow-wrapper {
  overflow: auto;
}

.is-pre-wrap {
  white-space: pre-wrap;
}

.is-fullwidth {
  width: 100%;
}

.control-height {
  height: 2.25em;
}

.has-shadow {
  box-shadow: $box-shadow;
}

.has-shadow-hovered {
  transition: .2s ease;

  &:hover {
    box-shadow: $box-shadow-hovered;
  }
}

.is-clickable {
  cursor: pointer;
}

.is-disabled {
  filter: grayscale(100%);
  opacity: 0.5;
  position:relative;

  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.has-arrow-up::after {
  @include has-arrow;
  border-left: 0;
  border-bottom: 0;
}

.has-arrow-down::after {
  @include has-arrow;
  border-right: 0;
  border-top: 0;
}


.has-arrow-right::after {
  @include has-arrow;
  border-left: 0;
  border-top: 0;
}

.has-arrow-left::after {
  @include has-arrow;
  border-right: 0;
  border-bottom: 0;
}

