
@mixin container {
  flex-grow: 1;
  margin: 0 auto;
  width: auto;

  // non-responsive
  @if $non-responsive-mobile {
    @if $non-responsive-tablet {
      max-width: $desktop - (2 * $gap) - $vertical-scrollbar-width;
    } @else {
      max-width: $tablet - (2 * $gap) - $vertical-scrollbar-width;
    }
  }

  // non-responsive
  @if $non-responsive-tablet {
    @include tablet {
      max-width: $desktop - (2 * $gap) - $vertical-scrollbar-width;
    }
  }

  @include desktop {
    max-width: $desktop - (2 * $gap) - $vertical-scrollbar-width;
  }

  @include until-widescreen {
    &.is-widescreen {
      max-width: $widescreen - (2 * $gap) - $vertical-scrollbar-width;
    }
  }

  @include until-fullhd {
    &.is-fullhd {
      max-width: $fullhd - (2 * $gap) - $vertical-scrollbar-width;
    }
  }

  @include widescreen {
    max-width: $widescreen - (2 * $gap) - $vertical-scrollbar-width;
  }

  @include fullhd {
    max-width: $fullhd - (2 * $gap) - $vertical-scrollbar-width;
  }
}

.container {
  @include container;
}
