.section {
  &.is-fit {
    padding: $section-padding-fit;
  }

  &.is-small {
    padding: $section-padding-small;
  }

  @include mobile {
    &,
    &.is-fit,
    &.is-small,
    &.is-medium,
    &.is-large {
      padding-left: $section-gap-mobile;
      padding-right: $section-gap-mobile;
    }
  }
}


