$section-background-color: $white !default;

.section {
  &.has-background {
    background-color: $section-background-color;
  }
  
  &.is-fit {
    padding: $section-padding-fit;
  }

  &.is-small {
    padding: $section-padding-small;
  }
}
