.tile.is-mobile,
.tile.is-mobile .tile {
  &:not(.is-child) {
    display: flex;
    @for $i from 1 through 12 {
      &.is-#{$i} {
        flex: none;
        width: ($i / 12) * 100%;
      }
    }
  }
}
