<section class="section">
  <div class="container">

    <h1 class="title is-1">Circle</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      .circle
      <div class="circle"></div>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      .circle.is-[color]
      <div class="circle is-primary"></div>
    </div>

    <div class="block">
      Adjust size with element font size
    </div>
    <div class="block">
      <div class="circle text-size-large"></div>
    </div>

  </div>
</section>