<section class="section">
  <div class="container is-fluid">

    <h1 class="title is-1">Circle</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <div class="circle"></div>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      color = is-[color]
    </div>
    <div class="block">
      <div class="circle is-primary"></div>
    </div>

    <div class="block">
      size = element font size
    </div>
    <div class="block">
      <div class="text-size-large">
        <div class="circle"></div>
      </div>
    </div>

  </div>
</section>