$box-hightlight-color: $primary !default;

.box {
  &.is-highlighted {
    background: $light;
    border-top: 2px solid $box-hightlight-color;
  }

  &.is-bordered {
    border: 1px solid $border;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      border-color: $color;
    }
  }
}

// box-detail
.box:not(:last-child) + .box-detail {
  margin-top: -1.5rem;
}

$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
.box-detail {
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
  box-shadow: $box-shadow;
}
