.container {
  @include desktop {
    max-width: $desktop - (2 * $gap) - $vertical-scrollbar-width;
    width: $desktop - (2 * $gap) - $vertical-scrollbar-width;
  }
  @include until-widescreen {
    &.is-widescreen {
      max-width: $widescreen - (2 * $gap) - $vertical-scrollbar-width;
    }
  }
  @include until-fullhd {
    &.is-fullhd {
      max-width: $fullhd - (2 * $gap) - $vertical-scrollbar-width;
    }
  }
  @include widescreen {
    max-width: $widescreen - (2 * $gap) - $vertical-scrollbar-width;
    width: $widescreen - (2 * $gap) - $vertical-scrollbar-width;
  }
  @include fullhd {
    max-width: $fullhd - (2 * $gap) - $vertical-scrollbar-width;
    width: $fullhd - (2 * $gap) - $vertical-scrollbar-width;
  }
}