$section-background-color: $white !default;

.section {
  &.has-background {
    background-color: $section-background-color;
  }
  
  &.is-fit {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  &.is-short {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
  }
}