@import '~bulma/sass/utilities/mixins';

@mixin bg-color {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background-color: $color;
      color: $color-invert;
    }
  }
}

@mixin has-arrow {
  border: 3px solid currentColor;
  border-radius: 2px;
  content: " ";
  transform: rotate(-45deg);
  transform-origin: center;
  width: .625em;
  height: .625em;
  margin-left: .2em;
  display: block;
}

/* IE10+ CSS styles go here */
@mixin ie {
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    @content;
  }  
}

/* Edge 12+ or 18+ (Before Chromium Version) */
@mixin edge {
  @supports (-ms-accelerator: true) or (-ms-ime-align: auto) {
    @content;
  }
}
