// Font Family
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
 "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

// $variable-columns
$variable-columns: false !default;

// Root element size to calculate rem (in pixel) 
$body-size: 10px !default;
$body-size-mobile: $body-size !default;

$column-gap: $block-spacing / 2 !default;
$column-gap-mobile: $block-spacing-mobile / 2 !default;

$tile-spacing: $block-spacing / 2 !default;
$tile-spacing-mobile: $block-spacing-mobile / 2 !default;

$field-spacing: $block-spacing !default;
$field-spacing-mobile: $block-spacing-mobile !default;
$field-horizontal-spacing: $brick-spacing !default;

$label-spacing: $brick-spacing !default;

// Spacing
$spacing-shortcuts: ("margin": "push", "padding": "pad");
$spacing-directions: ("top": "-top", "right": "-right", "bottom": "-bottom", "left": "-left");
$spacing-horizontal: "-x";
$spacing-vertical: "-y";
$spacing-values: ("0": 0, "1": $square-size, "2": $square-size * 2, "3": $square-size * 3, "4": $square-size * 4, "5": $square-size * 5, "6": $square-size * 6);

// The section horizontal gap for desktop (in pixel)
$section-gap: 24px !default;

// The section horizontal gap for mobile (in pixel)
$section-gap-mobile: $section-gap !default;

// Override Bulma's section-padding
$section-padding-fit: 0 $section-gap !default;
$section-padding-small: $block-spacing $section-gap !default;
$section-padding: ($block-spacing * 2) $section-gap !default;
$section-padding-medium: ($block-spacing * 3) $section-gap !default; // desktop only
$section-padding-large: ($block-spacing * 6) $section-gap !default; // desktop only

// The container horizontal gap for desktop, which acts as the offset for breakpoints
// In another word, this is minimum overall gap for desktop. It will be increase when window width > container's width + $gap
// Should be >= section gap (in pixel)
$gap: $section-gap !default;
// Remark: The container has no horizontal gap for mobile by design

// Scrollbar width
$vertical-scrollbar-width: 17px;

