$page-title-color: $text !default;

.page-title {
  font-size: $size-large;
  font-weight: $weight-bold;
  margin: 0 0 $space-large $space-large;
  .icon {
    color: $page-title-color;
  }
  .icon + span {
    color: $page-title-color;
    margin-left: $space-normal;
  }
  small {
    font-size: $size-normal;
  }
}
