$tab-highlight-color: $primary !default;

.tabs {
  &.is-sheet {
    margin-bottom: 0;

    ul {
      border-bottom: 1px solid $border;
    }

    li {
      a {
        color: $text;
        background: $light;
        border-right: 1px solid $border;
        border-top: 1px solid $border;
        border-bottom: 1px solid $border;
        margin-bottom: -1px; // to remove ul border
        
        &:hover {
          border-bottom-color: $border;
        }
      }

      &:first-child a {
        border-left: 1px solid $border;
      }

      &.is-active a {
        border-bottom-color: transparent;
        background: $white;
      }

      @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: nth($pair, 2);
        &.is-#{$name} {
          a {
            color: $color;
          }
        }
      }
    }

    &.is-below {
      ul {
        border-bottom: 0; // reverse back
        border-top: 1px solid $border;
      }

      li {
        a {
          margin-bottom: 0; // reverse back
          margin-top: -1px; // to remove ul border
        }

        &.is-active a {
          border-bottom: 1px solid $border; // reverse back
          border-top-color: transparent;
        }
      }
    }

    &.is-highlighted {
      li {
        a {
          border-top: 3px solid $tab-highlight-color;
        }

        @each $name, $pair in $colors {
          $color: nth($pair, 1);
          $color-invert: nth($pair, 2);
          &.is-#{$name} {
            a {
              border-top: 3px solid $color;
            }
          }
        }
      }

      &.is-below {
        li {
          a {
            border-top: 1px solid $border; // reverse back
            border-bottom: 3px solid $tab-highlight-color;
          }

          @each $name, $pair in $colors {
            $color: nth($pair, 1);
            $color-invert: nth($pair, 2);
            &.is-#{$name} {
              a {
                border-bottom: 3px solid $color;
              }
            }
          }

          &.is-active a {
            border-top-color: transparent;
          }
        }
      }
    }
  }

  &.near-box {
    box-shadow: -2px 0px 0px -1px rgba(10, 10, 10, 0.1);

    &.is-sheet {
      li {
        &:first-child a {
          border-left: 0;
        }
      }
    }
  }
}