<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description"
        content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>trunks ui</title>

  <link rel="apple-touch-icon"
        href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css ../../assets/styles/vendor.css -->
  <link href="../../node_modules/font-awesome/css/font-awesome.min.css"
        rel="stylesheet">
  <link href="../../node_modules/prismjs/themes/prism.css"
        rel="stylesheet" />
  <link href="../../node_modules/prismjs/plugins/toolbar/prism-toolbar.css"
        rel="stylesheet" />
  <link href="../../node_modules/prismjs/plugins/unescaped-markup/prism-unescaped-markup.css"
        rel="stylesheet" />
  <!-- endbuild -->

  <link rel="stylesheet"
        href="../../assets/styles/vendor.css">
  <link rel="stylesheet"
        href="../../assets/styles/main.css">

  <style>

  </style>

</head>

<body>


  <section class="section">
    <div class="container is-fluid">

      <h1 class="title is-4">Navbar</h1>

      <div class="block">
        See More: <a href="https://bulma.io/documentation/components/navbar"
           target="_blank">
          https://bulma.io/documentation/components/navbar
        </a>
      </div>

      <div class="block">
        <nav class="navbar"
             role="navigation"
             aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item"
               href="https://bulma.io">
              <img src="https://bulma.io/images/bulma-logo.png">
            </a>

            <a role="button"
               id="burger"
               onclick="openMenu()"
               class="navbar-burger burger"
               aria-label="menu"
               aria-expanded="false"
               data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample"
               class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item">
                Home
              </a>

              <div class="navbar-item">
                Non-Link
              </div>

              <a class="navbar-item has-badge">
                <div class="navbar-item-content">
                  <span>Has Badge</span>
                  <span class="badge">1</span>
                </div>
              </a>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Dropdown
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    Sub Menu 1
                  </a>
                  <a class="navbar-item">
                    Sub Menu 2
                  </a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">
                    Sub Menu 3
                  </a>
                </div>
              </div>
            </div>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-primary">
                    <strong>Sign up</strong>
                  </a>
                  <a class="button is-light">
                    Log in
                  </a>
                </div>
              </div>
            </div>
          </div>
        </nav>

        <script type="text/plain"
                class="language-markup">
<nav class="navbar"
      role="navigation"
      aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item"
        href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png">
    </a>

    <a role="button"
        id="burger"
        onclick="openMenu()"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample"
        class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item">
        Home
      </a>

      <div class="navbar-item">
        Non-Link
      </div>

      <a class="navbar-item has-badge">
        <div class="navbar-item-content">
          <span>Has Badge</span>
          <span class="badge">1</span>
        </div>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Dropdown
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Sub Menu 1
          </a>
          <a class="navbar-item">
            Sub Menu 2
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Sub Menu 3
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a class="button is-light">
            Log in
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
        </script>
        <pre>
        <code class="language-javascript">
document.getElementById('navbarBurger').classList.toggle('is-active');

document.getElementById('navbarMenu').classList.toggle('is-active');
        </code>
      </pre>
      </div>

      <h2 class="title is-6">Variable</h2>

      <div class="block">
        <p>$navbar-dropdown-item-color: $text;</p>
        <p>$navbar-item-hover-color: $link; <span class="has-text-grey-light">// created by Bulma</span></p>
        <p>$navbar-item-hover-background-color: $white-bis; <span class="has-text-grey-light">// created by Bulma</span>
        </p>
        <p>$navbar-dropdown-item-hover-color: $black; <span class="has-text-grey-light">// created by Bulma</span></p>
        <p>$navbar-dropdown-item-hover-background-color: $background; <span class="has-text-grey-light">// created by
            Bulma</span></p>
      </div>
    </div>
  </section>

  <!-- build:js ../../assets/scripts/vendor.js -->
  <script src="../../node_modules/prismjs/prism.js"></script>
  <script src="../../node_modules/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="../../node_modules/prismjs/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script>
  <script src="../../node_modules/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <!-- endbuild -->

  <script src="../../assets/scripts/main.js"></script>

  <script>
    function openMenu() {
      document.getElementById('burger').classList.toggle('is-active');
      document.getElementById('navbarBasicExample').classList.toggle('is-active');
    }
  </script>
</body>

</html>