// $block-spacing

// section
@include mobile {
  .section {
    padding-left: $section-gap-mobile;
    padding-right: $section-gap-mobile;

    @include desktop {
      &.is-medium,
      &.is-large {
        padding-left: $section-gap-mobile;
        padding-right: $section-gap-mobile;
      }
    }
  }
}


// column
.columns {
  &:not(:last-child) {
    margin-bottom: $block-spacing - $column-gap;
  }
  &.is-gapless {
    &:not(:last-child) {
      margin-bottom: $block-spacing;
    }
  }
}

@include mobile {
  .column {
    padding: $column-gap-mobile;
  }

  .columns {
    margin-left: (-$column-gap-mobile);
    margin-right: (-$column-gap-mobile);
    margin-top: (-$column-gap-mobile);
    &:last-child {
      margin-bottom: (-$column-gap-mobile);
    }
    &:not(:last-child) {
      margin-bottom: $block-spacing-mobile - $column-gap-mobile;
    }
    &.is-gapless {
      &:not(:last-child) {
        margin-bottom: $block-spacing-mobile;
      }
    }
  }
}


// tile
.tile {
  &.is-ancestor {
    &:not(:last-child) {
      margin-bottom: $block-spacing;
    }
  }
  &.is-vertical {
    & > .tile.is-child:not(:last-child) {
      margin-bottom: $tile-spacing * 2 !important;
    }
  }
}

@include mobile {
  .tile {
    &.is-ancestor {
      margin-left: $tile-spacing-mobile * -1;
      margin-right: $tile-spacing-mobile * -1;
      margin-top: $tile-spacing-mobile * -1;
      &:last-child {
        margin-bottom: $tile-spacing-mobile * -1;
      }
      &:not(:last-child) {
        margin-bottom: $block-spacing-mobile;
      }
    }
    &.is-parent {
      padding: $tile-spacing-mobile;
    }
    &.is-vertical {
      & > .tile.is-child:not(:last-child) {
        margin-bottom: $tile-spacing-mobile * 2 !important;
      }
    }
  }
}


// level
.level-left {
  @include mobile {
    & + .level-right {
      margin-top: $block-spacing;
    }
  }
}

.hero-buttons {
  margin-top: $block-spacing;
  @include mobile {
    .button {
      &:not(:last-child) {
        margin-bottom: $block-spacing / 2;
      }
    }
  }
  @include tablet {
    .button:not(:last-child) {
      margin-right: $block-spacing;
    }
  }
}


// field
.field:not(:last-child) {
  margin-bottom: $field-spacing;
}

@include mobile {
  .field:not(:last-child) {
    margin-bottom: $field-spacing-mobile;
  }

  .field-label {
    margin-bottom: $field-spacing-mobile / 3;
  }
}

@include tablet {
  .field-label {
    margin-right: $field-spacing;
  }

  .field-body {
    & > .field {
      &:not(:last-child) {
        margin-right: $field-spacing / 2;
      }
    }
  }
}

// button
.buttons {
  .button {
    margin-bottom: $block-spacing / 2;
    &:not(:last-child):not(.is-fullwidth) {
      margin-right: $block-spacing / 2;
    }
  }
  &:last-child {
    margin-bottom: (-$block-spacing / 2);
  }
  &:not(:last-child) {
    margin-bottom: $block-spacing;
  }
  &.is-centered {
    &:not(.has-addons) {
      .button:not(.is-fullwidth) {
        margin-left: $block-spacing / 4;
        margin-right: $block-spacing / 4;
      }
    }
  }
  &.is-right {
    &:not(.has-addons) {
      .button:not(.is-fullwidth) {
        margin-left: $block-spacing / 4;
        margin-right: $block-spacing / 4;
      }
    }
  }
}


// other

.help {
  margin-top: $block-spacing / 4;
}
