// section
@include mobile {
  .section {
    padding-left: $section-gap-mobile;
    padding-right: $section-gap-mobile;

    @include desktop {
      &.is-medium,
      &.is-large {
        padding-left: $section-gap-mobile;
        padding-right: $section-gap-mobile;
      }
    }
  }
}

// column
.columns {
  &:not(:last-child) {
    margin-bottom: $block-spacing - $column-gap;
  }
  &.is-gapless {
    &:not(:last-child) {
      margin-bottom: $block-spacing;
    }
  }
}

@include mobile {
  .column {
    padding: $column-gap-mobile;
  }

  .columns {
    margin-left: (-$column-gap-mobile);
    margin-right: (-$column-gap-mobile);
    margin-top: (-$column-gap-mobile);
    &:last-child {
      margin-bottom: (-$column-gap-mobile);
    }
    &:not(:last-child) {
      margin-bottom: $block-spacing-mobile - $column-gap-mobile;
    }
    &.is-gapless {
      &:not(:last-child) {
        margin-bottom: $block-spacing-mobile;
      }
    }
  }
}


// tile
.tile {
  &.is-ancestor {
    &:not(:last-child) {
      margin-bottom: $tile-spacing;
    }
  }
  &.is-vertical {
    & > .tile.is-child:not(:last-child) {
      margin-bottom: $tile-spacing * 2 !important;
    }
  }
}

@include mobile {
  .tile {
    &.is-ancestor {
      margin-left: $tile-spacing-mobile * -1;
      margin-right: $tile-spacing-mobile * -1;
      margin-top: $tile-spacing-mobile * -1;
      &:last-child {
        margin-bottom: $tile-spacing-mobile * -1;
      }
      &:not(:last-child) {
        margin-bottom: $block-spacing-mobile;
      }
    }
    &.is-parent {
      padding: $tile-spacing-mobile;
    }
    &.is-vertical {
      & > .tile.is-child:not(:last-child) {
        margin-bottom: $tile-spacing-mobile * 2 !important;
      }
    }
  }
}


// level
.level-left {
  @include mobile {
    & + .level-right {
      margin-top: $block-spacing-mobile;
    }
  }
}

// hero
.hero-buttons {
  margin-top: $block-spacing;
  @include mobile {
    .button {
      &:not(:last-child) {
        margin-bottom: $block-spacing-mobile / 2;
      }
    }
  }
  @include tablet {
    .button:not(:last-child) {
      margin-right: $block-spacing;
    }
  }
}


// field
.field:not(:last-child) {
  margin-bottom: $field-spacing;
  &.is-horizontal {
    margin-bottom: $field-horizontal-spacing;
  }
}

.field.is-grouped {
  & > .control {
    &:not(:last-child) {
      margin-right: $block-spacing;
    }
  }
}

@include mobile {
  .field:not(:last-child) {
    margin-bottom: $field-horizontal-spacing-mobile;
  }

  .field-label {
    margin-bottom: 0;
  }
}

@include tablet {
  .field-label {
    margin-right: $block-spacing;
  }

  .field-body {
    flex-basis: auto;
    & > .field {
      &:not(:last-child) {
        margin-right: $field-horizontal-spacing / 2;
      }
    }
  }
}

// label
.label:not(:last-child) {
  margin-bottom: $label-spacing;
}

// button
@mixin buttons-spacing($space: $brick-spacing) {
  .button {
    margin-bottom: $space;
  }

  &:last-child {
    margin-bottom: (-$space);
  }

  &:not(:last-child) {
    margin-bottom: $block-spacing - $space;
  }

  &:not(.has-addons) {
    .button {
      &:not(:last-child):not(.is-fullwidth) {
        margin-right: $space;
      }
    }

    // fix Bulma unnecessary margin-left, margin-right for is-centered and is-right
    &.is-centered, &.is-right {
      .button:not(.is-fullwidth) {
        margin-left: 0;
        margin-right: $space;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.buttons {
  @include buttons-spacing;
}

.buttons.is-spacing-2 {
  @include buttons-spacing($brick-spacing * 2);
}

.buttons.is-spacing-3 {
  @include buttons-spacing($brick-spacing * 3);
}

// other
.help {
  margin-top: $brick-spacing / 2;
}
