@use "sass:math";
@use "../utilities/variables.scss";
@use "bulma/sass/utilities/mixins" as bulma-mx;
@use "bulma/sass/grid" as bulma-grid;

$column-gap-mobile: math.div(variables.$block-spacing-mobile, 2) !default;

$tile-spacing: math.div(variables.$block-spacing, 2) !default;
$tile-spacing-mobile: math.div(variables.$block-spacing-mobile, 2) !default;

$field-spacing: variables.$block-spacing !default;
$field-spacing-mobile: variables.$block-spacing-mobile !default;
$field-horizontal-spacing: variables.$brick-spacing !default;
$field-horizontal-spacing-mobile: variables.$brick-spacing !default;

$label-spacing: variables.$brick-spacing !default;

// column
.columns {
  &:not(:last-child) {
    margin-bottom: variables.$block-spacing - bulma-grid.$column-gap;
  }
  &.is-gapless {
    &:not(:last-child) {
      margin-bottom: variables.$block-spacing;
    }
  }
}

@include bulma-mx.mobile {
  .column {
    padding: $column-gap-mobile;
  }

  .columns {
    margin-left: (-$column-gap-mobile);
    margin-right: (-$column-gap-mobile);
    margin-top: (-$column-gap-mobile);
    &:last-child {
      margin-bottom: (-$column-gap-mobile);
    }
    &:not(:last-child) {
      margin-bottom: variables.$block-spacing-mobile - $column-gap-mobile;
    }
    &.is-gapless {
      &:not(:last-child) {
        margin-bottom: variables.$block-spacing-mobile;
      }
    }
  }
}


// tile
.tile {
  &.is-ancestor {
    &:not(:last-child) {
      margin-bottom: $tile-spacing;
    }
  }
  &.is-vertical {
    & > .tile.is-child:not(:last-child) {
      margin-bottom: $tile-spacing * 2 !important;
    }
  }
}

@include bulma-mx.mobile {
  .tile {
    &.is-ancestor {
      margin-left: $tile-spacing-mobile * -1;
      margin-right: $tile-spacing-mobile * -1;
      margin-top: $tile-spacing-mobile * -1;
      &:last-child {
        margin-bottom: $tile-spacing-mobile * -1;
      }
      &:not(:last-child) {
        margin-bottom: variables.$block-spacing-mobile;
      }
    }
    &.is-parent {
      padding: $tile-spacing-mobile;
    }
    &.is-vertical {
      & > .tile.is-child:not(:last-child) {
        margin-bottom: $tile-spacing-mobile * 2 !important;
      }
    }
  }
}


// level
.level-left {
  @include bulma-mx.mobile {
    & + .level-right {
      margin-top: variables.$block-spacing-mobile;
    }
  }
}

// hero
.hero-buttons {
  margin-top: variables.$block-spacing;
  @include bulma-mx.mobile {
    .button {
      &:not(:last-child) {
        margin-bottom: math.div(variables.$block-spacing-mobile, 2);
      }
    }
  }
  @include bulma-mx.tablet {
    .button:not(:last-child) {
      margin-right: variables.$block-spacing;
    }
  }
}


// field
.field:not(:last-child) {
  margin-bottom: $field-spacing;
  &.is-horizontal {
    margin-bottom: $field-horizontal-spacing;
  }
}

.field.is-grouped {
  & > .control {
    &:not(:last-child) {
      margin-right: variables.$block-spacing;
    }
  }
}

@include bulma-mx.mobile {
  .field:not(:last-child) {
    margin-bottom: $field-horizontal-spacing-mobile;
  }

  .field-label {
    margin-bottom: 0;
  }
}

@include bulma-mx.tablet {
  .field-label {
    margin-right: variables.$block-spacing;
  }

  .field-body {
    flex-basis: auto;
    & > .field {
      &:not(:last-child) {
        margin-right: math.div($field-horizontal-spacing, 2);
      }
    }
  }
}

// label
.label:not(:last-child) {
  margin-bottom: $label-spacing;
}

// button
@mixin buttons-spacing($space: variables.$brick-spacing) {
  .button {
    margin-bottom: $space;
  }

  &:last-child {
    margin-bottom: (-$space);
  }

  &:not(:last-child) {
    margin-bottom: variables.$block-spacing - $space;
  }

  &:not(.has-addons) {
    .button {
      &:not(:last-child):not(.is-fullwidth) {
        margin-right: $space;
      }
    }

    // fix Bulma unnecessary margin-left, margin-right for is-centered and is-right
    &.is-centered, &.is-right {
      .button:not(.is-fullwidth) {
        margin-left: 0;
        margin-right: $space;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

.buttons {
  @include buttons-spacing;
}

.buttons.is-spacing-2 {
  @include buttons-spacing(variables.$brick-spacing * 2);
}

.buttons.is-spacing-3 {
  @include buttons-spacing(variables.$brick-spacing * 3);
}

// other
.help {
  margin-top: math.div(variables.$brick-spacing, 2);
}
