html {
  font-size: $body-size;
  height: 100%;
}

@if $mobile-use-tablet-layout {
  @include mobile {
    html {
      overflow-x: auto;
      min-width: $tablet - $vertical-scrollbar-width;
    }
  }
}

@if $mobile-use-desktop-layout {
  .tabs {
    overflow: visible;
    white-space: normal;
    display: block;

    li {
      display: inline-block;
    }
  }
}

@if $tablet-use-desktop-layout {
  @include tablet {
    html {
      overflow-x: auto;
      min-width: $desktop - $vertical-scrollbar-width;
    }

    .tabs {
      overflow: visible;
      white-space: normal;
      display: block;

      li {
        display: inline-block;
      }
    }
  }
}

@include mobile {
  // mobile root element size (rem)
  html {
    font-size: $body-size-mobile;
  }
}

body {
  font-size: $size-normal;
  min-height: 100%;
  position: relative;
  word-break: break-word;
}

a {
  color: $text;
  cursor: pointer;
  text-decoration: none;
  strong {
    color: currentColor;
  }
  &:hover {
    color: $text;
  }
}

// Hidden directive
[hidden] { 
  display: none !important;
}

// Reorder Handle
.reorder-handle { 
  display: block;
  width: 20px;
  cursor: ns-resize; 

  span {
    background-color: currentColor;
    display: block;
    height: 1px;
  }
  span:nth-child(2) {
    margin-top: 5px;
  }
  span:nth-child(3) {
    margin-top: 5px;
  }
}

// Remove link img border in IE10
a img {
  border: 0;
}

// Hide HTML5 Up and Down arrows for input number
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// Stop Browser's Default Focus outline
:focus {
  outline: 0;
}

// IE has no break-word
body {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

// loading with specific color
.is-loading {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    &.is-#{$name}::after {
      border-left-color: $color !important;
      border-bottom-color: $color !important;
    }
  }
}