@use "../utilities/variables.scss";
@use "bulma/sass/utilities/extends";
@use "bulma/sass/utilities/initial-variables" as bulma-iv;
@use "bulma/sass/utilities/mixins" as bulma-mx;

%non-responsive-tablet {
  @include bulma-mx.tablet {
    overflow-x: auto;
    min-width: variables.$desktop - variables.$vertical-scrollbar-width;
  }

  .tabs {
    overflow: visible;
    white-space: normal;
    display: block;

    li {
      display: inline-block;
    }
  }
}

@if variables.$non-responsive-tablet {
  html {
    @extend %non-responsive-tablet;
  }
}

html {
  &.non-responsive,
  &.non-responsive-tablet {
    .container {
      @include bulma-mx.tablet {
        max-width: variables.$desktop - (2 * bulma-iv.$gap) - variables.$vertical-scrollbar-width;
      }
    }

    @extend %non-responsive-tablet;
  }
}
