<!doctype html><html><head><meta charset="utf-8"><meta name="description" content=""><meta name="viewport" content="width=device-width,initial-scale=1"><title>trunks ui</title><link rel="apple-touch-icon" href="apple-touch-icon.png"><link rel="stylesheet" href="../../assets/styles/vendor.css"><link rel="stylesheet" href="../../assets/styles/main.css"><style></style></head><body><section class="section"><div class="container is-fluid"><h1 class="title is-4">Badge</h1><h2 class="title is-6">Basic Usage</h2><div class="block"><div class="badge">1</div><script type="text/plain" class="language-markup"><div class="badge">
  1
</div></script></div><h2 class="title is-6">Modifier</h2><div class="block"><div class="block">Color</div><div class="block"><div class="badge is-primary">1</div><div class="badge is-secondary">999+</div></div><script type="text/plain" class="language-markup"><div class="badge is-primary">
  1
</div>

<div class="badge is-secondary">
  999+
</div></script></div><h2 class="title is-6">Variable</h2><div class="block"><p>$badge-font-size: $size-normal;</p></div></div></section><script src="../../assets/scripts/vendor.js"></script><script src="../../assets/scripts/main.js"></script></body></html>