<section class="section">
  <div class="container is-fluid">

    <h1 class="title is-1">Modal</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/components/modal"
        target="_blank"
      >
        https://bulma.io/documentation/components/modal
      </a>
    </div>

    <div class="block">
      toggle modal with is-active
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <label>
        <input
          type="checkbox"
          [checked]="hasNoFooter"
          (change)="hasNoFooter = !hasNoFooter"
        > has-no-footer
      </label>
      <label>
        <input
          type="checkbox"
          [checked]="modalLarge"
          (change)="modalLarge =!modalLarge"
        > modal-large
      </label>
      <label>
        <input
          type="checkbox"
          [checked]="isDanger"
          (change)="isDanger =!isDanger"
        > is-[color]
      </label>
    </div>
    <div class="block">
      <button
        class="button"
        (click)="isOpen = true"
      >
        Open Modal
      </button>
    </div>

    <div
      class="modal"
      [class.is-active]="isOpen"
      [class.has-no-footer]="hasNoFooter"
      [class.modal-large]="modalLarge"
      [class.is-danger]="isDanger"
    >
      <div
        class="modal-background"
        (click)="isOpen = false"
      ></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Modal title</p>
          <button
            class="delete"
            (click)="isOpen = false"
            aria-label="close"
          ></button>
        </header>
        <section class="modal-card-body">
          <div>Content</div>
          <div>.......</div>
          <div>.......</div>
          <div class="buttons is-justify-center">
            <button
              (click)="isOpen = false"
              class="button"
            >Save</button>
            <button
              (click)="isOpen = false"
              class="button"
            >Cancel</button>
          </div>
        </section>
      </div>
    </div>

  </div>
</section>