<section class="section">
  <div class="container">

    <h1 class="title is-1">Tab</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/components/tabs"
        target="_blank"
      >
        https://bulma.io/documentation/components/tabs
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <div class="tabs">
        <ul>
          <li class="is-active"><a>Pictures</a></li>
          <li><a>Music</a></li>
          <li><a>Videos</a></li>
          <li><a>Documents</a></li>
        </ul>
      </div>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <div class="block">
        <b>is-sheet</b>
      </div>
      <div class="block">
        <div class="tabs is-sheet">
          <ul>
            <li class="is-active"><a>Pictures</a></li>
            <li><a>Music</a></li>
            <li><a>Videos</a></li>
            <li><a>Documents</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        <b>is-sheet is-below</b>
      </div>
      <div class="block">
        <div class="tabs is-sheet is-below">
          <ul>
            <li class="is-active"><a>Pictures</a></li>
            <li><a>Music</a></li>
            <li><a>Videos</a></li>
            <li><a>Documents</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        <div>
          <b>is-sheet is-highlighted</b>
        </div>
        <div>
          <b>is-[color]</b> at specific &lt;li&gt; to highlight tab color
        </div>
      </div>
      <div class="block">
        <div><b>related variable:</b></div>
        <div>
          $tab-highlight-color: $primary;
        </div>
      </div>
      <div class="block">
        <div class="tabs is-sheet is-highlighted">
          <ul>
            <li class="is-active"><a>Pictures</a></li>
            <li><a>Music</a></li>
            <li><a>Videos</a></li>
            <li class="is-danger"><a>Documents</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        is-sheet has-box
      </div>
      <div class="block">
        <div class="tabs is-sheet has-box">
          <ul>
            <li class="is-active"><a>Pictures</a></li>
            <li><a>Music</a></li>
            <li><a>Videos</a></li>
            <li><a>Documents</a></li>
          </ul>
        </div>
        <div class="box is-radiusless"></div>
      </div>
    </div>

    <h2 class="title is-3">Variables</h2>

    <div class="block">
      <p>$tab-highlight-color: $primary;</p>
    </div>

  </div>
</section>