@use "../utilities/extends";
@use "../utilities/mixins" as mx;
@use "bulma/sass/utilities/extends" as bulma-extends;
@use "bulma/sass/utilities/mixins" as bulma-mx;

// brick
.brick {
  @extend %brick;
}

// spacing
.is-spacing {
  @extend %is-spacing;
}

.is-spacing-2 {
  @extend %is-spacing-2;
}

.is-spacing-3 {
  @extend %is-spacing-3;
}

// horizontal
.is-horizontal:not(.field) {
  @extend %is-horizontal;
}

@include bulma-mx.mobile {
  .is-horizontal-mobile {
    @include mx.is-horizontal;
  }
}

@include bulma-mx.tablet {
  .is-horizontal-tablet {
    @include mx.is-horizontal;
  }
}

@include bulma-mx.touch {
  .is-horizontal-touch {
    @include mx.is-horizontal;
  }
}

@include bulma-mx.desktop {
  .is-horizontal-desktop {
    @include mx.is-horizontal;
  }
}

// margin auto
.push-top-auto {
  margin-top: auto !important;
}

.push-right-auto {
  margin-right: auto !important;
}

.push-bottom-auto {
  margin-bottom: auto !important;
}

.push-left-auto {
  margin-left: auto !important;
}

.push-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.push-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
