// margin auto
.push-top-auto {
  margin-top: auto !important;
}

.push-right-auto {
  margin-right: auto !important;
}

.push-bottom-auto {
  margin-bottom: auto !important;
}

.push-left-auto {
  margin-left: auto !important;
}

.push-x-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.push-y-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
