$modal-card-title-font-weight: $weight-bold !default;
// $modal-content-width: 640px !default;
$modal-small-width: 320px !default;
$modal-medium-width: 780px !default;
$modal-large-width: 960px !default;
$modal-full-width: 100% !default;
$modal-full-height: 100% !default;

$modal-card-body-font-weight: $weight-normal !default;
$modal-close-background-color: bulmaRgba($scheme-invert, 0.2) !default;
$modal-close-color: $scheme-main !default;

.modal {
  &.has-no-footer {
    .modal-card {
      .modal-card-body {
        border-bottom-left-radius: $modal-card-foot-radius;
        border-bottom-right-radius: $modal-card-foot-radius;
      }
    }
  }
  
  // Depreciated
  .modal-card.modal-card-no-footer {
    .modal-card-body {
      border-bottom-left-radius: $modal-card-foot-radius;
      border-bottom-right-radius: $modal-card-foot-radius;
    }
  }

  .modal-card-title {
    text-align: center;
    font-weight: $modal-card-title-font-weight;
  }

  .modal-card-body {
    max-height: calc(100vh - 80px);
    font-weight: $modal-card-body-font-weight;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      .modal-card-head {
        color: $color;
        background-color: $color;
        .modal-card-title {
          color: $color-invert;
        }
      }
    }
  }

  
  &.modal-auto {
    > .modal-content,
    > .modal-card {

      @if $mobile-use-desktop-layout {
        @include mobile {
          width: auto;
        }
      }

      @if $tablet-use-desktop-layout {
        @include tablet {
          width: auto;
        }
      }

      @include desktop {
        width: auto;
      }
    }
  }

  &.modal-small {
    > .modal-content,
    > .modal-card {

      @if $mobile-use-desktop-layout {
        @include mobile {
          width: $modal-small-width;
        }
      }

      @if $tablet-use-desktop-layout {
        @include tablet {
          width: $modal-small-width;
        }
      }

      @include desktop {
        width: $modal-small-width;
      }
    }
  }

  &.modal-medium {
    > .modal-content,
    > .modal-card {

      @if $mobile-use-desktop-layout {
        @include mobile {
          width: $modal-medium-width;
        }
      }

      @if $tablet-use-desktop-layout {
        @include tablet {
          width: $modal-medium-width;
        }
      }

      @include desktop {
        width: $modal-medium-width;
      }
    }
  }

  &.modal-large {
    > .modal-content,
    > .modal-card {

      @if $mobile-use-desktop-layout {
        @include mobile {
          width: $modal-large-width;
        }
      }

      @if $tablet-use-desktop-layout {
        @include tablet {
          width: $modal-large-width;
        }
      }

      @include desktop {
        width: $modal-large-width;
      }
    }
  }

  &.modal-full {
    > .modal-content,
    > .modal-card {

      @if $mobile-use-desktop-layout {
        @include mobile {
          width: $modal-full-width;
          height: $modal-full-height;
        }
      }

      @if $tablet-use-desktop-layout {
        @include tablet {
          width: $modal-full-width;
          height: $modal-full-height;
        }
      }

      @include desktop {
        width: $modal-full-width;
        height: $modal-full-height;
      }
    }
  }

  &.modal-scroll {
    > .modal-card {
      .modal-card-body {
        overflow-y: scroll;
      }
    }
  }
}

.modal-card-head {
  .modal-card-title {
    margin-left: ($modal-close-dimensions * 1.25);
    margin-right: ($modal-close-dimensions * 0.25);
  }
  .delete {
    width: $modal-close-dimensions;
    height: $modal-close-dimensions;
    max-height: $modal-close-dimensions;
    max-width: $modal-close-dimensions;
    color: inherit;
    background-color: $modal-close-background-color;
    &::before, &::after {
      background-color: $modal-close-color;
    }
  }
}
