<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description"
        content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>trunks ui</title>

  <link rel="apple-touch-icon"
        href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css ../../assets/styles/vendor.css -->
  <link href="../../node_modules/font-awesome/css/font-awesome.min.css"
        rel="stylesheet">
  <link href="../../node_modules/prismjs/themes/prism.css"
        rel="stylesheet" />
  <link href="../../node_modules/prismjs/plugins/toolbar/prism-toolbar.css"
        rel="stylesheet" />
  <link href="../../node_modules/prismjs/plugins/unescaped-markup/prism-unescaped-markup.css"
        rel="stylesheet" />
  <!-- endbuild -->

  <link rel="stylesheet"
        href="../../assets/styles/vendor.css">
  <link rel="stylesheet"
        href="../../assets/styles/main.css">

  <style>

  </style>

</head>

<body>

  <section class="section">
    <div class="container is-fluid">

      <h1 class="title is-4">Icon</h1>

      <div class="block">
        Font Awesome 4.7: <a href="https://fontawesome.com/v4.7.0/icons"
           target="_blank">
          https://fontawesome.com/v4.7.0/icons
        </a>
      </div>

      <h2 class="title is-6">Basic Usage</h2>

      <div class="block">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        <script type="text/plain"
                class="language-markup">
<span class="icon">
  <i class="fa fa-home"></i>
</span>
        </script>
      </div>

      <div class="block">
        icon-text wrapper
      </div>

      <div class="block">
        <span class="icon-text">
          <span>Front Text</span><span class="icon"><i class="fa fa-home"></i></span><span>Back Text</span>
        </span>
        <script type="text/plain"
                class="language-markup">
<span class="icon-text">
  <span>Front Text</span>
  <span class="icon">
    <i class="fa fa-home"></i>
  </span>
  <span>Back Text</span>
</span>
        </script>
      </div>

      <div class="block">
        <div class="icon-text text-size-large">
          <span class="icon"><i class="fa fa-home"></i></span><span>Large Font Size Text</span>
        </div>
        <script type="text/plain"
                class="language-markup">
<div class="icon-text text-size-large">
  <span class="icon">
    <i class="fa fa-home"></i>
  </span>
  <span>Large Font Size Text</span>
</div>
        </script>
      </div>

      <div class="block">
        <button class="button">
          <span class="icon"><i class="fa fa-home"></i></span><span>Icon in Button</span>
        </button>
        <script type="text/plain"
                class="language-markup">
<button class="button">
  <span class="icon">
    <i class="fa fa-home"></i>
  </span>
  <span>Icon in Button</span>
</button>
        </script>
      </div>

      <div class="block">
        <nav class="navbar">
          <div class="navbar-brand">
            <a class="navbar-item">
              <span class="icon-text"><span class="icon"><i class="fa fa-home"></i></span><span>Menu</span></span>
            </a>
            <div class="navbar-item has-dropdown">
              <a class="navbar-link">
                <span class="icon-text"><span class="icon"><i class="fa fa-home"></i></span><span>Dropdown Menu</span></span>
              </a>
            </div>
          </div>
        </nav>
        <script type="text/plain"
                class="language-markup">
<nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item">
      <span class="icon-text">
        <span class="icon">
          <i class="fa fa-home"></i>
        </span>
        <span>Menu</span>
      </span>
    </a>
    <div class="navbar-item has-dropdown">
      <a class="navbar-link">
        <span class="icon-text">
          <span class="icon">
            <i class="fa fa-home"></i>
          </span>
          <span>Dropdown Menu</span>
        </span>
      </a>
    </div>
  </div>
</nav>
        </script>
      </div>


      <h2 class="title is-6">Modifier</h2>

      <div class="block">
        <div class="block">
          Size: is-small, is-medium, is-large
        </div>
        <div class="block">
          <div class="text-size-large">
            <span class="icon is-small"><i class="fa fa-home"></i></span>
            <span class="icon is-medium"><i class="fa fa-home"></i></span>
            <span class="icon is-large"><i class="fa fa-home"></i></span>
          </div>
          <script type="text/plain"
                  class="language-markup">
<span class="icon is-small">
  <i class="fa fa-home"></i>
</span>
<span class="icon is-medium">
  <i class="fa fa-home"></i>
</span>
<span class="icon is-large">
  <i class="fa fa-home"></i>
</span>
            </script>
        </div>
      </div>

      <div class="block">
        <div class="block">
          Color: text-[color]
        </div>
        <div class="block">
          <div class="text-size-large">
            <span class="icon text-primary"><i class="fa fa-home"></i></span>
            <span class="icon text-secondary"><i class="fa fa-home"></i></span>
          </div>
          <script type="text/plain"
                  class="language-markup">
<span class="icon text-primary">
  <i class="fa fa-home"></i>
</span>
<span class="icon text-secondary">
  <i class="fa fa-home"></i>
</span>
            </script>
        </div>
      </div>

      <div class="block">
        <div class="block">
          icon-img
        </div>
        <div class="block">
          <div class="icon-text text-size-medium is-align-center">
            <span class="icon icon-img"><img src="../../assets/images/coin.png"></span><span>Image Icon</span>
          </div>
          <script type="text/plain"
                  class="language-markup">
<div class="icon-text text-size-medium is-align-center">
  <span class="icon icon-img">
    <img src="../../assets/images/coin.png">
  </span>
  <span>Image Icon</span>
</div>
            </script>
        </div>
      </div>

    </div>
  </section>

  <!-- build:js ../../assets/scripts/vendor.js -->
  <script src="../../node_modules/prismjs/prism.js"></script>
  <script src="../../node_modules/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="../../node_modules/prismjs/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script>
  <script src="../../node_modules/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <!-- endbuild -->

  <script src="../../assets/scripts/main.js"></script>
</body>

</html>