<section class="section">
  <div class="container is-fluid">

    <h1 class="title is-1">Badge Corner</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <button class="button badge-corner">
        badge-corner
      </button>
    </div>

    <div class="block">
      <button
        class="button badge-corner"
        data-badge="1"
      >
        Button
      </button>
      <span
        class="badge-corner push-left-2"
        data-badge="2 "
      >
        Text
      </span>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <div class="block">
        Color: is-badge-[color]
      </div>
      <div class="block">
        <button
          class="button badge-corner is-badge-danger"
          data-badge="123"
        >
          color badge-corner
        </button>
      </div>
    </div>

    <h2 class="title is-3">Variables</h2>

    <div class="block">
      <p>$badge-corner-font-size: $size-normal;</p>
      <p>$badge-corner-background-color: $grey;</p>
      <p>$badge-corner-box-shadow: 0 0 0 .2rem #fff;</p>
      <p>$badge-corner-border-radius: $radius-rounded;</p>
    </div>

  </div>
</section>