<section class="section">
  <div class="container is-fluid">

    <h1 class="title is-1">Button</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/elements/button"
        target="_blank"
      >
        https://bulma.io/documentation/elements/button
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <button class="button">
        button
      </button>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <div class="block">
        is-fat
      </div>
      <div class="block">
        <button class="button is-fat">
          is-fat
        </button>
      </div>
    </div>

    <h2 class="title is-3">Variables</h2>

    <div class="block">
      <p>$button-font-weight: $weight-normal;</p>
    </div>

  </div>
</section>