<section class="section">
  <div class="container">

    <h1 class="title is-1">Button</h1>

    <div class="block">
      Extend from: <a
        href="https://bulma.io/documentation/elements/button"
        target="_blank"
      >
        https://bulma.io/documentation/elements/button
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <button class="button">
        .button
      </button>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <p class="brick">.is-[color]</p>
    <div class="block">
      <button class="button is-primary">
        is-primary
      </button>
      <button class="button is-secondary">
        is-secondary
      </button>
      <button class="button is-warning">
        is-warning
      </button>
    </div>

    <p class="brick">.is-outlined</p>
    <div class="block">
      <button class="button is-primary is-outlined">
        is-primary.is-outlined
      </button>
      <button class="button is-secondary is-outlined">
        is-secondary.is-outlined
      </button>
      <button class="button is-warning is-outlined">
        is-warning.is-outlined
      </button>
    </div>

    <p class="brick">.is-loading</p>
    <div class="block">
      <button class="button is-primary is-loading">
        loading
      </button>
      <button class="button is-secondary is-loading">
        loading
      </button>
      <button class="button is-warning is-loading">
        loading
      </button>
    </div>
    <div class="block">
      <button class="button is-primary is-loading is-outlined">
        loading
      </button>
      <button class="button is-secondary is-loading is-outlined">
        loading
      </button>
      <button class="button is-warning is-loading is-outlined">
        loading
      </button>
    </div>

    <p class="brick">is-[size]</p>
    <div class="block">
      <button class="button is-fat">
        .is-fat
      </button>
    </div>

    <div class="block">
      <button class="button is-small">
        .is-small
      </button>
    </div>

    <div class="block">
      <button class="button is-medium">
        .is-medium
      </button>
    </div>

    <div class="block">
      <button class="button is-large">
        .is-large
      </button>
    </div>

    <div class="block">
      <button class="button is-auto">
        .is-auto
      </button>
    </div>
    <div class="block">
      <button class="button is-auto text-size-large">
        .is-auto.text-size-large
      </button>
    </div>

    <h2 class="title is-3">Changes</h2>
    <div class="block">
      <p>Set button font-size to $size-normal</p>
      <p>Set button vertical padding to 0</p>
      <p>Custom button horizontal padding</p>
      <p>Custom button height</p>
      <p>Add is-fat to has min width 100px</p>
      <p>Add is-auto to has default padding and auto height</p>
    </div>

    <h2 class="title is-3">Variables</h2>
    <div class="block">
      <p>$button-font-size: variables.$size-normal;</p>
      <p>$button-height: variables.$control-height;</p>
      <p>$button-small-height: variables.$control-height - variables.$brick-spacing;</p>
      <p>$button-small-padding-horizontal: 1rem;</p>
      <p>$button-medium-height: variables.$control-height + variables.$brick-spacing;</p>
      <p>$button-medium-padding-horizontal: 2rem;</p>
      <p>$button-large-height: variables.$control-height + variables.$brick-spacing * 2;</p>
      <p>$button-large-padding-horizontal: 3rem;</p>
    </div>

    <h2 class="title is-3">Bulma Variables</h2>
    <div class="block">
      <p>$button-weight: variables.$weight-normal;</p>
      <p>$button-padding-horizontal: 1.5rem !default;</p>
    </div>
  </div>
</section>