// Bulma Fix

// Fix: default bg color has no hover effect
.button {
  &:hover,
  &.is-hovered {
    background-color: darken($button-background-color, 2.5%);
  }
}

// Fix: 1:5 width of label:input in horizontal form is too bad
// define its width in case by case should be better
.field.is-horizontal {
  .field-label {
    flex-grow: 0;
    flex-basis: 100px; // default 100px, define this value in case by case
  }
  .field-body {
    flex-grow: 1;
  }
}

// Fix: Search input type has different style from text input type
.input[type="search"], .textarea[type="search"] {
  border-radius: $radius;
}

// Fix: long title
.modal-card-title {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-right: 10px;   
}

// Fix: navbar-menu height does not equal navbar
.navbar-menu {
  min-height: $navbar-height;
}

// Fix: select arrow has z-index
.select:not(.is-multiple)::after {
  z-index: 0;
}

// Fix: checkbox disabled="false" style
.checkbox[disabled="false"], .radio[disabled="false"] {
  cursor: pointer;
}

// Fix IE: textarea not expand to defined rows number
.textarea[rows] {
  height: auto;
}

// Fix IE 11: tile
.is-vertical > .tile {
  -ms-flex-preferred-size: auto; 
}

// Fix: seeing file input at corner when file button has radius
.file-input {
  left: $radius-large;
  top: $radius-large;
}

// Fix IE, Edge
// https://github.com/jgthms/bulma/issues/2503
// workaround: copy code below from source and remove one line
@include from($navbar-breakpoint) {
  .navbar-item {
    &.is-active,
    &.is-hoverable:focus,
    // &.is-hoverable:focus-within, <-- remove this to fix IE
    &.is-hoverable:hover {
      .navbar-dropdown {
        display: block;
        .navbar.is-spaced &,
        &.is-boxed {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }
  }
}
