@use "./utilities/variables";
@use "./layout/container" as c;
@use "bulma/sass/utilities/initial-variables" as bulma-iv;

#mainContainer {
  @include c.container;
  display: flex;

  .container {
    width: auto;
    max-width: none !important;
  }
}

#sidebar {
  width: auto;
}

#content {
  flex: 1;
}


// non-responsive

html {
  &.non-responsive,
  &.non-responsive-mobile {
    #mainContainer {
      max-width: variables.$tablet - (2 * bulma-iv.$gap) - variables.$vertical-scrollbar-width;
    }
  }

  &.non-responsive,
  &.non-responsive-mobile.non-responsive-tablet {
    #mainContainer {
      max-width: variables.$desktop - (2 * bulma-iv.$gap) - variables.$vertical-scrollbar-width;
    }
  }

  &.non-responsive,
  &.non-responsive-tablet {
    #mainContainer {
      @include tablet {
        max-width: variables.$desktop - (2 * bulma-iv.$gap) - variables.$vertical-scrollbar-width;
      }
    }
  }
}
