@use "../utilities/variables";

$badge-font-size: variables.$size-normal !default;

.badge {
  display: inline-block;
  min-width: 1.4em;
  padding: 0.2em 0.4em;
  font-weight: variables.$weight-bold;
  font-size: $badge-font-size;
  color: variables.$text;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background: variables.$background;
  border-radius: 1em;

  @each $name, $pair in variables.$colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background: $color;
      color: $color-invert;
    }
  }
}
