$box-hightlight-color: $primary !default;

.box {
  &.light-box {
    background-color: $light;
    color: $text;
  }

  &.dark-box {
    background-color: $dark;
    color: $text-invert;
  }

  &.is-highlighted {
    border-top: 2px solid $box-hightlight-color;
  }

  &.is-bordered {
    border: 1px solid $border;
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      border-color: $color;
    }
  }
}

// box-detail
.box.has-box-detail {
  margin-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

$box-shadow: 0 2px 3px rgba($black, 0.1), 0 0 0 1px rgba($black, 0.1) !default;
.box-detail {
  padding: 1.25rem;
  box-shadow: $box-shadow;
  border-bottom-left-radius: $box-radius;
  border-bottom-right-radius: $box-radius;

  &+.box-detail {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
