$button-font-weight: $weight-normal !default;
$button-font-size: $size-normal !default;
$button-large-height: 7.2rem !default;
$button-large-padding-horizontal: 4.8rem !default;

.buttons {
  .button:not(:last-child):not(.is-fullwidth) {
    margin-right: $block-spacing * 2;
  }
}

.button {
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  &.is-fat {
    min-width: 100px;
  }

  &.is-large {
    height: $button-large-height;
    padding-left: $button-large-padding-horizontal;
    padding-right: $button-large-padding-horizontal;
  }

  &.is-loading {
    .icon {
      display: none;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      .badge {
        color: $color;
        background: $color-invert;
      }
    }
  }
}