// icon-em: make icon size belongs to its element.

.icon.icon-em {
  font-size: 1em;

  &,
  &.is-small,
  &.is-medium,
  &.is-large {
    width: 1em;
    height: 1em;  
  }
  &.is-small {
    font-size: 0.75em;
  }
  &.is-medium {
    font-size: 1.25em;
  }
  &.is-large {
    font-size: 1.5em;
  }
  &:not(:last-child) {
    margin-right: 0.5em;
  }
  &:not(:first-child) {
    margin-left: 0.5em;
  }
}

.icon.icon-em.icon-img {
  vertical-align: text-top;
  img {
    width: 100%;
  }
}

.navbar-item, .navbar-link {
  .icon.icon-em {
    &:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.button {
  .icon,
  .icon.icon-em {
    &:first-child:not(:last-child) {
      margin-left: auto;
      margin-right: 0.5em;
    }
  }
}

