// make icon size belongs to its element (em).
@use "../utilities/variables";

.icon-text {
  line-height: 1.5;
  align-items: center;
  flex-wrap: nowrap;
}

.icon {
  font-size: 1em;

  &,
  &.is-small,
  &.is-medium,
  &.is-large {
    width: 1em;
    height: 1em;
  }
  &.is-small {
    font-size: 0.75em;
  }
  &.is-medium {
    font-size: 1.25em;
  }
  &.is-large {
    font-size: 1.5em;
  }
}

.icon.icon-img {
  img {
    width: 100%;
  }
}

.navbar-item,
.navbar-link {
  .icon {
    &:only-child {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.button {
  .icon {
    &:first-child:not(:last-child) {
      margin-left: 0;
      margin-right: variables.$brick-spacing;
    }
    &:last-child:not(:first-child) {
      margin-left: variables.$brick-spacing;
      margin-right: 0;
    }
  }
}

@for $i from 1 through 6 {
  .ic-up-#{$i} {
    margin-bottom: #{$i}px !important;
  }
  .ic-down-#{$i} {
    margin-top: #{$i}px !important;
  }
}
