$label-size: $size-normal !default;

.label { 
  font-size: $label-size;
}

.field.is-horizontal {
  .field-label {
    margin-top: ($control-height - $label-size * $control-line-height) / 2;

    &.is-align-top {
      margin-top: 0;
    }
    
    @each $name, $size in $font-sizes {
      &.is-small {
        font-size: $size;
        margin-top: ($control-height - $size * $control-line-height) / 2;
      }
    }
    
  }
}