$radio-border-color: $primary !default;
$radio-background-color: $primary !default;
$radio-size: 1em !default;
$radio-inner-size: $radio-size - 0.5em !default;
$radio-bg-size: $radio-size + 0.5 !default;

$radio-line-height: 1.25;

.radio {
  position: relative;

  &.has-bg {
    display: inline-flex;
    align-items: center;

    input[type=radio] {
      &+span {
        padding-left: $radio-bg-size + 0.5em;
        padding-right: 0.5em;
        line-height: $radio-bg-size + 0.5em;
        border: 1px solid $border;

        &::before {
          // old circle line will be behind radio-bg when has-bg
        }
        &::after {
          top: calc( #{($radio-size / 2) - ($radio-inner-size / 2) + ($radio-bg-size / 2) - ($radio-size / 2)} + 1px);
          left: calc( #{($radio-size / 2) - ($radio-inner-size / 2) + ($radio-bg-size / 2) - ($radio-size / 2)} + 1px);
        }
      }
    }

    .radio-bg {
      background: $white;
      height: $radio-bg-size;
      width: $radio-bg-size;
      position: absolute;
      left: 1px;
      top: 1px;
      border-right: 1px solid $border;

      &::after { // new circle line is here when has-bg
        position: absolute;
        content: '';
        border: 1px solid $border;
        border-radius: 100%;
        height: $radio-size; 
        width: $radio-size;
        top: ($radio-bg-size / 2) - ($radio-size / 2);
        left: ($radio-bg-size / 2) - ($radio-size / 2);
      }
    }
  }

  &.has-no-text input[type=radio] + span {
    padding-left: $radio-size;
  }

  & + .radio {
    margin-left: 1em;
  }

  input[type=radio] {
    position: absolute;
    visibility: hidden;

    &+span {
      padding-left: $radio-size + 0.5em;
      display: inline-block;
  
      &::before {
        position: absolute;
        content: '';
        border: 1px solid $border;
        border-radius: 100%;
        height: $radio-size;
        width: $radio-size;
        top: ($radio-line-height - $radio-size) / 2;
        left: 0;
      }
  
      &::after {
        position: absolute;
        content: '';
        border-radius: 100%;
        height: $radio-inner-size;
        width: $radio-inner-size;
        top: ($radio-size / 2) - ($radio-inner-size / 2) + ($radio-line-height - $radio-size) / 2;
        left: ($radio-size / 2) - ($radio-inner-size / 2);
      }
    }

    &:checked+span::before {
      border-color: $radio-border-color;
    }
  
    &:checked+span::after {
      background: $radio-background-color;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      input[type=radio]:checked+span::before {
        border-color: $color;
      }
      input[type=radio]:checked+span::after {
        background: $color;
      }

      &.is-text-color {
        input[type=radio] {
          &:checked+span {
            color: $color;
          }
        }
      }

      &.has-bg {
        input[type=radio]:checked+span::before {
          // old circle line will be behind radio-bg when has-bg
        }
        input[type=radio]:checked+span::after {
          background: $white;
        }
        input[type=radio]:checked+span {
          border-color: $color;
          .radio-bg {
            background: $color;
            border-color: $color;
            &::after { // new circle line is here when has-bg
              border-color: $white; 
            }
          }
        }
      }
    }
  }
}
