$input-arrow-size: 0.625em !default;
$input-arrow-right: 0.5em !default;
$input-arrow-border-width: 1px !default;

$loader-size: 1em;

.select {
  &.is-borderless {
    select {
      background: transparent;
      border: 0;
      padding-left: 0;
    }
  }

  // select placeholder, use with logic <select [class.show-placeholder]="!value">
  .show-placeholder {
    color: $text-placeholder;
    option {
      color: $text;
    }
  }
}

.select:not(.is-multiple) select {
  padding-right: $input-arrow-size + ($input-arrow-right * 2)
}

.select.is-loading::after {
  top: 50%;
  margin-top: $loader-size * -0.5;
}

.select:not(.is-multiple):not(.is-loading)::after {
  width: $input-arrow-size;
  height: $input-arrow-size;
  top: 50%;
  right: $input-arrow-right;
  border-width: $input-arrow-border-width;
  margin-top: $input-arrow-size * -0.75;
}

// Fix: select arrow color
.select:not(:hover).is-loading::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

