$input-arrow-size: 0.625em !default;
$input-arrow-right: 0.5em !default;
$input-arrow-border-width: 1px !default;

.select {
  &.is-borderless {
    select {
      background: transparent;
      border: 0;
      padding-left: 0;
    }
  }

  // select placeholder, use with logic <select [class.show-placeholder]="!value">
  .show-placeholder {
    color: $text-placeholder;
    option {
      color: $text;
    }
  }
}

.select:not(.is-multiple) select {
  padding-right: $input-arrow-size + ($input-arrow-right * 2)
}
.select:not(.is-multiple):not(.is-loading)::after {
  width: $input-arrow-size;
  height: $input-arrow-size;
  right: $input-arrow-right;
  border-width: $input-arrow-border-width;
}

