form.submitted input.ng-invalid,
form.submitted select.ng-invalid,
form.submitted textarea.ng-invalid,
form.submitted .file-label.ng-invalid,
input.ng-touched.ng-invalid,
select.ng-touched.ng-invalid,
textarea.ng-touched.ng-invalid {
  border: 1px solid $danger;
}
.is-required .label:after {
  color: $danger;
  content: ' *';
  display:inline;
}
