.circle {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: $grey;

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);
    &.is-#{$name} {
      background: $color;
    }
  }
}