@use "variables" as *;
@use "mixins" as *;

._logo-text {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  color: white;
  line-height: 1;
  margin-left: -12px;
  margin-bottom: 5px;
  letter-spacing: 4px;
}

.container {
  padding: 0 10px;
}