<nav
  class="navbar is-secondary"
  role="navigation"
  aria-label="main navigation"
>
  <div class="container">
    <div class="navbar-brand">
      <div class="navbar-item">
        Trunks UI
      </div>

      <a
        role="button"
        (click)="isOpenMenu = !isOpenMenu"
        [class.is-active]="isOpenMenu"
        class="navbar-burger burger"
        aria-label="menu"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <!-- app.component.html -->
    <div
      class="navbar-menu"
      [class.is-active]="isOpenMenu"
    >
      <div class="navbar-start">
        @for (menu of menus; track menu) {
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">{{ menu.name }}</a>
          <div class="navbar-dropdown">
            @for (subMenu of menu.subMenus; track subMenu) {
            <a
              [routerLink]="subMenu.link"
              [routerLinkActive]="'is-active'"
              class="navbar-item"
            >
              {{ subMenu.name }}
            </a>
            }
          </div>
        </div>
        }
      </div>
    </div>

  </div>
</nav>

<router-outlet />