<section class="section">
  <div class="container">

    <h1 class="title is-1">Checkbox</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <label class="checkbox">
        <input type="checkbox">
        <span>check me</span>
      </label>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <div class="block">
        is-text-color
      </div>
      <div class="block">
        <label class="checkbox is-text-color">
          <input type="checkbox">
          <span>check me</span>
        </label>
      </div>
    </div>

    <div class="block">
      <div class="block">
        is-filled
      </div>
      <div class="block">
        <label class="checkbox is-filled">
          <input type="checkbox">
          <span>check me</span>
        </label>
      </div>
    </div>

    <div class="block">
      <div class="block">
        checkbox-group
      </div>
      <div class="block">
        <div class="checkbox-group">
          <div class="checkbox-title">
            checkbox title
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        checkbox-group is-horizontal
      </div>
      <div class="block">
        <div class="checkbox-group is-horizontal">
          <div class="checkbox-title">
            checkbox title
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        checkbox-group is-horizontal has-divide
      </div>
      <div class="block">
        <div class="checkbox-group is-horizontal has-divide">
          <div class="checkbox-title">
            checkbox title
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        checkbox-group is-horizontal is-bordered
      </div>
      <div class="block">
        <div class="checkbox-group is-horizontal is-bordered">
          <div class="checkbox-title">
            checkbox title
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        checkbox-title is-filled
      </div>
      <div class="block">
        <div class="checkbox-group is-horizontal is-bordered">
          <div class="checkbox-title is-filled">
            checkbox title
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
        </div>
      </div>
    </div>

    <div class="block">
      <div class="block">
        checkbox-group is-horizontal is-bordered is-[color]
      </div>
      <div class="block">
        <div class="checkbox-group is-horizontal is-bordered is-primary">
          <div class="checkbox-title is-filled">
            checkbox title
          </div>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
          <label class="checkbox">
            <input type="checkbox">
            <span>check me</span>
          </label>
        </div>
      </div>
    </div>



    <h2 class="title is-3">Variables</h2>

    <div class="block">
      <p>$checkbox-checked-color: $primary;</p>
      <p>$checkbox-checked-border-color: $primary;</p>
      <p>$checkbox-checked-filled-background-color: $primary;</p>
      <p>$checkbox-group-border-color: $border;</p>
      <p>$checkbox-group-divide-color: $border;</p>
      <p>$checkbox-title-filled-background-color: $primary;</p>
      <p>$checkbox-title-filled-color: $primary-invert;</p>
    </div>

  </div>
</section>