<section class="section">
  <div class="container">

    <h1 class="title is-1">Checkbox</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <p>label.checkbox</p>
      <p class="push-left-1">input[type="checkbox"]</p>
      <p class="push-left-1">span</p>
      <p class="push-left-2">TEXT</p>
    </div>

    <div class="block">
      <label class="checkbox">
        <input type="checkbox">
        <span>.checkbox</span>
      </label>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <label class="checkbox is-text-color">
        <input type="checkbox">
        <span>.checkbox.is-text-color</span>
      </label>
    </div>

    <div class="block">
      <label class="checkbox is-filled">
        <input type="checkbox">
        <span>.checkbox.is-filled</span>
      </label>
    </div>

    <div class="block">
      .checkbox-group
      <div class="checkbox-group">
        <div class="checkbox-title">
          .checkbox-title
        </div>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
      </div>
    </div>

    <div class="block">
      .checkbox-group.is-horizontal
      <div class="checkbox-group is-horizontal">
        <div class="checkbox-title">
          .checkbox-title
        </div>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
      </div>
    </div>

    <div class="block">
      .checkbox-group.is-horizontal.has-divide
      <div class="checkbox-group is-horizontal has-divide">
        <div class="checkbox-title">
          .checkbox-title
        </div>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
      </div>
    </div>

    <div class="block">
      .checkbox-group.is-horizontal.is-bordered
      <div class="checkbox-group is-horizontal is-bordered">
        <div class="checkbox-title">
          .checkbox-title
        </div>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
      </div>
    </div>

    <div class="block">
      .checkbox-group.is-horizontal.is-bordered
      <div class="checkbox-group is-horizontal is-bordered">
        <div class="checkbox-title is-filled">
          .checkbox-title.is-filled
        </div>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
      </div>
    </div>

    <div class="block">
      .checkbox-group.is-horizontal.is-bordered.is-[color]
      <div class="checkbox-group is-horizontal is-bordered is-secondary">
        <div class="checkbox-title is-filled">
          .checkbox-title.is-filled
        </div>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
        <label class="checkbox">
          <input type="checkbox">
          <span>.checkbox</span>
        </label>
      </div>
    </div>

    <h2 class="title is-3">Variables</h2>
    <div class="block">
      <p>$checkbox-size: 1em;</p>
      <p>$checkbox-inner-size: $checkbox-size * 0.8;</p>
      <p>$checkbox-checked-color: variables.$primary;</p>
      <p>$checkbox-checked-border-color: variables.$primary;</p>
      <p>$checkbox-checked-filled-background-color: variables.$primary;</p>
      <p>$checkbox-group-border-color: variables.$border;</p>
      <p>$checkbox-group-divide-color: variables.$border;</p>
      <p>$checkbox-title-filled-background-color: variables.$primary;</p>
      <p>$checkbox-title-filled-color: variables.$primary-invert;</p>
    </div>

  </div>
</section>