<section class="section">
  <div class="container">

    <h1 class="title is-1">Form</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/form/general"
        target="_blank"
      >
        https://bulma.io/documentation/form/general
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <form novalidate>
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input
              class="input"
              type="text"
            >
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">
              Save
            </button>
          </div>
          <div class="control">
            <button
              class="button is-text"
              type="button"
            >
              Cancel
            </button>
          </div>
        </div>
      </form>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <p>.field.is-horizontal</p>
      <p class="push-left-1">.field-label</p>
      <p class="push-left-1">.field-body</p>
    </div>
    <div class="block">
      <div>
        .field-label.is-[size] (for label font-size)
      </div>
    </div>
    <div class="block">
      <form novalidate>
        <div class="field is-horizontal">
          <div class="field-label is-large">
            <label class="label">Name</label>
          </div>
          <div class="field-body">
            <div class="field">
              <div class="control">
                <input
                  class="input"
                  type="text"
                >
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="block">
      <div class="block">
        form.submitted .input.ng-invalid
      </div>
      <div class="block">
        <form
          novalidate
          class="submitted"
        >
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input
                class="input ng-invalid"
                type="text"
              >
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="block">
      <div class="block">
        .field.is-required
      </div>
      <div class="block">
        <form novalidate>
          <div class="field is-required">
            <label class="label">Name</label>
            <div class="control">
              <input
                class="input"
                type="text"
              >
            </div>
          </div>
        </form>
      </div>
    </div>

    <h2 class="title is-3">Changes</h2>
    <div class="block">
      <p>Auto align label for horizontal field, even is-[size] is specified</p>
      <p>Add is-align-top at field-label to align lable to top</p>
      <p>Remove flex-grow 1:5 of field-label:field-body in horizontal field, define its width in case by case</p>
      <p>Change input[type="search"] style to same as .input</p>
      <p>Support Angular .ng-invalid input style</p>
      <p>Add is-required to display red * on label</p>
    </div>

    <h2 class="title is-3">Variables</h2>
    <div class="block">
      <p>$label-size: variables.$size-normal;</p>
      <p>$control-icon-width: 3rem;</p>
    </div>

  </div>
</section>