<section class="section">
  <div class="container">

    <h1 class="title is-1">Radio</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <p>label.radio</p>
      <p class="push-left-1">input[type="radio"]</p>
      <p class="push-left-1">span</p>
      <p class="push-left-2">TEXT</p>
    </div>

    <div class="block">
      <label class="radio">
        <input
          type="radio"
          name="radio1"
        >
        <span>Yes</span>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="radio1"
        >
        <span>No</span>
      </label>
    </div>

    <div class="block">
      <label class="radio">
        <input
          type="radio"
          checked
          disabled
        >
        <span>Checked Disabled</span>
      </label>
      <label class="radio">
        <input
          type="radio"
          disabled
        >
        <span>Unchecked Disabled</span>
      </label>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <p>.radio<b>.is-[color]</b></p>
    </div>
    <div class="block">
      <label class="radio is-secondary">
        <input
          type="radio"
          name="radio1"
        >
        <span>Yes</span>
      </label>
      <label class="radio is-secondary">
        <input
          type="radio"
          name="radio1"
        >
        <span>No</span>
      </label>
    </div>

    <div class="block">
      <p>.radio<b>.has-bg</b></p>
      <p class="push-left-1">input[type="radio"]</p>
      <p class="push-left-1">span</p>
      <p class="push-left-2"><b>.radio-bg</b></p>
      <p class="push-left-2">TEXT</p>
    </div>
    <div class="block">
      <label class="radio has-bg is-primary">
        <input
          type="radio"
          name="radio1"
        >
        <span>
          <b class="radio-bg"></b>
          Yes
        </span>
      </label><label class="radio has-bg is-primary">
        <input
          type="radio"
          name="radio1"
        >
        <span>
          <b class="radio-bg"></b>
          No
        </span>
      </label>
    </div>

    <h2 class="title is-3">Variables</h2>
    <div class="block">
      <p>$radio-border-color: variables.$primary;</p>
      <p>$radio-background-color: variables.$primary;</p>
      <p>$radio-size: 1em;</p>
      <p>$radio-inner-size: math.div($radio-size, 5);</p>
      <p>$radio-bg-size: $radio-size + 0.5;</p>
    </div>

  </div>
</section>