<section class="section">
  <div class="container">

    <h1 class="title is-1">Radio</h1>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <label class="radio">
        <input
          type="radio"
          name="radio1"
        >
        <span>Yes</span>
      </label>
      <label class="radio">
        <input
          type="radio"
          name="radio1"
        >
        <span>No</span>
      </label>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      is-[color]
    </div>
    <div class="block">
      <div class="block">
        <label class="radio is-secondary">
          <input
            type="radio"
            name="radio1"
          >
          <span>Yes</span>
        </label>
        <label class="radio is-secondary">
          <input
            type="radio"
            name="radio1"
          >
          <span>No</span>
        </label>
      </div>
    </div>

    <div class="block">
      has-bg
    </div>
    <div class="block">
      <div class="block">
        <label class="radio has-bg is-primary">
          <input
            type="radio"
            name="radio1"
          >
          <span>
            <b class="radio-bg"></b>
            Yes
          </span>
        </label><label class="radio has-bg is-primary">
          <input
            type="radio"
            name="radio1"
          >
          <span>
            <b class="radio-bg"></b>
            No
          </span>
        </label>
      </div>
    </div>

    <div class="block">
      has-no-text
    </div>
    <div class="block">
      <div class="block">
        <label class="radio has-no-text">
          <input
            type="radio"
            name="radio2"
          >
          <span></span>
        </label>
      </div>
    </div>


    <h2 class="title is-3">Variables</h2>

    <div class="block">
      <p>$radio-border-color: $primary;</p>
      <p>$radio-background-color: $primary;</p>
    </div>

  </div>
</section>