<section class="section">
  <div class="container is-fluid">

    <h1 class="title is-1">Select</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/form/select"
        target="_blank"
      >
        https://bulma.io/documentation/form/select
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <div class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </div>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      is-borderless
    </div>
    <div class="block">
      <div class="block">
        <div class="select is-borderless">
          <select>
            <option>Select dropdown</option>
            <option>With options</option>
          </select>
        </div>
      </div>
    </div>

  </div>
</section>