<section class="section">
  <div class="container">

    <h1 class="title is-1">Select</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/form/select"
        target="_blank"
      >
        https://bulma.io/documentation/form/select
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <p>.select</p>
      <p class="push-left-1">select</p>
    </div>

    <div class="block">
      <div class="select">
        <select>
          <option>Select dropdown</option>
          <option>With options</option>
        </select>
      </div>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      .select.is-borderless
    </div>
    <div class="block">
      <div class="select is-borderless">
        <select>
          <option>Select dropdown</option>
          <option value="1">With options</option>
        </select>
      </div>
    </div>

    <div class="block">
      <p>.select</p>
      <p class="push-left-1">select.show-placeholde</p>
    </div>
    <div class="block">
      <div class="select">
        <select
          #mySelect
          [class.show-placeholder]="!value"
          (change)="value = mySelect.value"
        >
          <option value="">Select dropdown</option>
          <option value="1">With options</option>
        </select>
      </div>
    </div>

    <h2 class="title is-3">Changes</h2>
    <div class="block">
      <p>Add is-borderless</p>
      <p>Add show-placeholder that can place at select tag. If show-placeholder is appear, the display text is
        look like placeholder</p>
    </div>

  </div>
</section>