<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description"
        content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title>trunks ui</title>

  <link rel="apple-touch-icon"
        href="apple-touch-icon.png">
  <!-- Place favicon.ico in the root directory -->

  <!-- build:css ../../assets/styles/vendor.css -->
  <link href="../../node_modules/font-awesome/css/font-awesome.min.css"
        rel="stylesheet">
  <link href="../../node_modules/prismjs/themes/prism.css"
        rel="stylesheet" />
  <link href="../../node_modules/prismjs/plugins/toolbar/prism-toolbar.css"
        rel="stylesheet" />
  <link href="../../node_modules/prismjs/plugins/unescaped-markup/prism-unescaped-markup.css"
        rel="stylesheet" />
  <!-- endbuild -->

  <link rel="stylesheet"
        href="../../assets/styles/vendor.css">
  <link rel="stylesheet"
        href="../../assets/styles/main.css">

  <style>

  </style>

</head>

<body>


  <section class="section">
    <div class="container is-fluid">

      <h1 class="title is-4">Form</h1>

      <div class="block">
        See More: <a href="https://bulma.io/documentation/form/general"
           target="_blank">
          https://bulma.io/documentation/form/general
        </a>
      </div>

      <h2 class="title is-6">Basic Usage</h2>

      <div class="block">
        <form novalidate>
          <div class="field">
            <label class="label">Name</label>
            <div class="control">
              <input class="input"
                     type="text">
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-primary">
                Save
              </button>
            </div>
            <div class="control">
              <button class="button is-text"
                      type="button">
                Cancel
              </button>
            </div>
          </div>
        </form>
        <script type="text/plain"
                class="language-markup">
<form novalidate>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input"
              type="text">
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <button class="button is-primary" type="submit">
        Save
      </button>
    </div>
    <div class="control">
      <button class="button is-text" type="button">
        Cancel
      </button>
    </div>
  </div>
</form>
        </script>
      </div>

      <h2 class="title is-6">Modifier</h2>

      <div class="block">
        field is-horizontal + field-label + field-body
      </div>
      <div class="block">
        <div>
          field-label is-[size] (for font-size)
        </div>
      </div>
      <div class="block">
        <form novalidate>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Name</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input"
                         type="text">
                </div>
              </div>
            </div>
          </div>
          <div class="field is-grouped is-horizontal">
            <div class="field-label">
              <!-- Left empty for spacing -->
            </div>
            <div class="field-body">
              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-primary">
                    Save
                  </button>
                </div>
                <div class="control">
                  <button class="button is-text"
                          type="button">
                    Cancel
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
        <script type="text/plain"
                class="language-markup">
<form novalidate>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Name</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input class="input"
                  type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="field is-grouped is-horizontal">
    <div class="field-label">
      <!-- Left empty for spacing -->
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary">
            Save
          </button>
        </div>
        <div class="control">
          <button class="button is-text"
                  type="button">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
        </script>
      </div>

      <div class="block">
        <div class="block">
          form submitted + input ng-invalid
        </div>
        <div class="block">
          <form novalidate
                class="submitted">
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input ng-invalid"
                       type="text">
              </div>
            </div>
          </form>
        </div>
        <script type="text/plain"
                class="language-markup">
<form novalidate class="submitted">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input ng-invalid" type="text">
    </div>
  </div>
</form>
        </script>
      </div>

      <div class="block">
        <div class="block">
          is-required
        </div>
        <div class="block">
          <form novalidate>
            <div class="field is-required">
              <label class="label">Name</label>
              <div class="control">
                <input class="input"
                       type="text">
              </div>
            </div>
          </form>
        </div>
        <script type="text/plain"
                class="language-markup">
<form novalidate>
  <div class="field is-required">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text">
    </div>
  </div>
</form>
        </script>
      </div>

    </div>
  </section>

  <!-- build:js ../../assets/scripts/vendor.js -->
  <script src="../../node_modules/prismjs/prism.js"></script>
  <script src="../../node_modules/prismjs/plugins/toolbar/prism-toolbar.min.js"></script>
  <script src="../../node_modules/prismjs/plugins/unescaped-markup/prism-unescaped-markup.min.js"></script>
  <script src="../../node_modules/prismjs/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js"></script>
  <!-- endbuild -->

  <script src="../../assets/scripts/main.js"></script>

  <script>
    function openMenu() {
      document.getElementById('burger').classList.toggle('is-active');
      document.getElementById('navbarBasicExample').classList.toggle('is-active');
    }
  </script>
</body>

</html>