@use "./variables";
@use "../../lib/src" with ( 
    // label
    $label-color: variables.$text-strong,
    $label-weight: variables.$weight-bold,

    // table
    $table-head-cell-color: white, // thead > th
    $table-cell-text-align: left, // th

    // navbar
    $navbar-item-img-max-height: 54px,
    $navbar-dropdown-arrow: variables.$text,

    // trunks ui
    $section-gap: 24px,
    $control-icon-width: 3rem,
    $label-size: variables.$size-normal,

    $button-font-size: variables.$size-normal,
    $button-weight: variables.$weight-normal, // old name is $button-font-weight
    $button-small-height: variables.$control-height - variables.$brick-spacing,
    $button-small-padding-horizontal: 1rem,
    $button-height: variables.$control-height,
    $button-medium-height: variables.$control-height + variables.$brick-spacing,
    $button-medium-padding-horizontal: 2rem,
    $button-large-height: variables.$control-height + variables.$brick-spacing * 2,
    $button-large-padding-horizontal: 3rem,

    $checkbox-size: 1em,
    $radio-size: 1em,

    // $modal-card-custom-head: true,
    // $modal-card-head-background-color: variables.$primary,
    // $modal-card-head-padding: 1.2rem,
    // $modal-card-title-color: variables.$primary-invert,
    // $modal-card-title-size: variables.$size-medium,

    $ngx-datatable-color: variables.$text,
    $ngx-datatable-font-size: variables.$size-normal,

    $ngx-datatable-table-head-cell-align: center,
    $ngx-datatable-table-head-cell-color: variables.$text-invert,
    $ngx-datatable-table-head-cell-background-color: variables.$grey,
    $ngx-datatable-table-head-cell-font-size: variables.$size-normal,
    $ngx-datatable-table-head-cell-font-weight: variables.$weight-bold,

    $ngx-datatable-header-filter-wrapper-height: variables.$control-height * 1.5,
    $ngx-datatable-header-filter-height: variables.$control-height,
    $ngx-datatable-header-filter-radius: 0,
    $ngx-datatable-header-filter-wrapper-padding: variables.$block-spacing,
    $ngx-datatable-selection-checkbox-checked-filled-style: false,
);
