<div class="section">
  <div class="container is-fluid">

    <h1 class="title is-1">Section</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation/layout/section"
        target="_blank"
      >
        https://bulma.io/documentation/layout/section
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    <div class="block">
      <section class="section _section">
        <div class="container">
          Section
        </div>
      </section>
    </div>

    <h2 class="title is-3">Modifier</h2>

    <div class="block">
      <section class="section _section is-fit">
        <div class="container">
          is-fit
        </div>
      </section>
    </div>

    <div class="block">
      <section class="section _section is-small">
        <div class="container">
          is-small
        </div>
      </section>
    </div>

  </div>