<section class="section">
  <div class="container">

    <h1 class="title is-1">
      Brick & Block (Self-Spacing)
    </h1>

    <div class="block">
      Extend from: <a
        href="https://bulma.io/documentation/elements/block"
        target="_blank"
      >
        https://bulma.io/documentation/elements/block
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    brick (smallest element with self-spacing)
    <div class="box">
      <div class="brick">.brick</div>
      <div class="brick">.brick</div>
      <div class="brick">.brick</div>
    </div>

    brick inside is-horizontal
    <div class="box is-horizontal">
      <div class="brick">.brick</div>
      <div class="brick">.brick</div>
      <div class="brick">.brick</div>
    </div>

    block (bigger element or container with self-spacing, a.k.a a group of bricks)
    <div class="box">
      <div class="block">.block</div>
      <div class="block">.block</div>
      <div class="block">.block</div>
    </div>

    block inside is-horizontal
    <div class="box is-horizontal">
      <div class="block">.block</div>
      <div class="block">.block</div>
      <div class="block">.block</div>
    </div>

    <p>Other block elements:</p>
    <p>Include .box, .buttons, .card, and .skeleton-block</p>
    <div class="box">
      <div class="box is-bordered">
        .box.is-bordered
      </div>
      <div class="box is-bordered">
        .box.is-bordered
      </div>
    </div>

    <p>other block elements inside is-horizontal</p>
    <p>Include .box, .buttons, .card, and .skeleton-block</p>
    <div class="box is-horizontal">
      <div class="box is-bordered">
        .box.is-bordered
      </div>
      <div class="box is-bordered">
        .box.is-bordered
      </div>
    </div>

    force space
    <div class="box">
      <div class="box is-bordered space-0">
        .space-0
      </div>
      <div class="box is-bordered space-1">
        .space-1
      </div>
      <div class="box is-bordered space-2">
        .space-2
      </div>
      <div class="box is-bordered space-3">
        .space-3
      </div>
      <div class="box is-bordered space-4">
        .space-4
      </div>
      <div class="box is-bordered space-5">
        .space-5
      </div>
      <div class="box is-bordered space-6">
        .space-6
      </div>
      <div class="box is-bordered space-6">
        .space-6 last-child
      </div>
    </div>

    force space inside is-horizontal
    <div class="box is-horizontal">
      <div class="box is-bordered space-0">
        .space-0
      </div>
      <div class="box is-bordered space-1">
        .space-1
      </div>
      <div class="box is-bordered space-2">
        .space-2
      </div>
      <div class="box is-bordered space-3">
        .space-3
      </div>
      <div class="box is-bordered space-4">
        .space-4
      </div>
      <div class="box is-bordered space-5">
        .space-5
      </div>
      <div class="box is-bordered space-6">
        .space-6
      </div>
      <div class="box is-bordered space-6">
        .space-6 last-child
      </div>
    </div>

    responsive force space
    <div class="box">
      <div class="box is-bordered space-0-mobile">
        .space-0-mobile
      </div>
      <div class="box is-bordered space-0-touch">
        .space-0-touch
      </div>
      <div class="box is-bordered space-0-tablet">
        .space-0-tablet
      </div>
      <div class="box is-bordered space-0-desktop">
        .space-0-desktop
      </div>
      <div class="box is-bordered space-0">
        .space-0
      </div>
    </div>

    responsive force space inside is-horizontal
    <div class="box is-horizontal">
      <div class="box is-bordered space-0-mobile">
        .space-0-mobile
      </div>
      <div class="box is-bordered space-0-touch">
        .space-0-touch
      </div>
      <div class="box is-bordered space-0-tablet">
        .space-0-tablet
      </div>
      <div class="box is-bordered space-0-desktop">
        .space-0-desktop
      </div>
      <div class="box is-bordered space-0">
        .space-0
      </div>
    </div>

  </div>
</section>