<section class="section">
  <div class="container">

    <h1 class="title is-1">
      Helper
    </h1>

    <div class="block">
      <div class="brick">
        Extend from: <a
          href="https://bulma.io/documentation/helpers/other-helpers/"
          target="_blank"
        >
          https://bulma.io/documentation/helpers/other-helpers/
        </a>
      </div>
      <div class="brick">
        <a
          href="https://bulma.io/documentation/helpers/visibility-helpers/"
          target="_blank"
        >
          https://bulma.io/documentation/helpers/visibility-helpers/
        </a>
      </div>
    </div>

    <h2 class="title is-3">Trunks Helpers</h2>
    <div class="block">
      <a
        href="https://github.com/akkaradej/trunks-ui/tree/master/lib/src/helpers"
        target="_blank"
      >
        https://github.com/akkaradej/trunks-ui/tree/master/lib/src/helpers
      </a>
    </div>

    <h2 class="title is-3">Basic Usage</h2>

    push (margin) 0-6 and auto
    <div class="box">
      <div class="_border push-left-0">push-left-0</div>
      <div class="_border push-left-1">push-left-1</div>
      <div class="_border push-left-2">push-left-2</div>
      <div class="_border push-left-3">push-left-3</div>
      <div class="_border push-left-4">push-left-4</div>
      <div class="_border push-left-5">push-left-5</div>
      <div class="_border push-left-6">push-left-6</div>
      <div class="is-flex">
        is-flex
        <div class="_border push-left-auto">push-left-auto</div>
      </div>
    </div>

    all side, top, right, bottom, left, x, y
    <div class="box is-horizontal">
      <div class="_border push-1">push-1</div>
      <div class="_border push-top-1">push-top-1</div>
      <div class="_border push-right-1">push-right-1</div>
      <div class="_border push-bottom-1">push-bottom-1</div>
      <div class="_border push-left-1">push-left-1</div>
      <div class="_border push-x-1">push-x-1</div>
      <div class="_border push-y-1">push-y-1</div>
    </div>

    pad (padding) 0-6
    <div class="box">
      <div class="_border pad-left-0">pad-left-0</div>
      <div class="_border pad-left-1">pad-left-1</div>
      <div class="_border pad-left-2">pad-left-2</div>
      <div class="_border pad-left-3">pad-left-3</div>
      <div class="_border pad-left-4">pad-left-4</div>
      <div class="_border pad-left-5">pad-left-5</div>
      <div class="_border pad-left-6">pad-left-6</div>
    </div>

    all side, top, right, bottom, left, x, y
    <div class="box is-horizontal">
      <div class="_border pad-1">pad-1</div>
      <div class="_border pad-top-1">pad-top-1</div>
      <div class="_border pad-right-1">pad-right-1</div>
      <div class="_border pad-bottom-1">pad-bottom-1</div>
      <div class="_border pad-left-1">pad-left-1</div>
      <div class="_border pad-x-1">pad-x-1</div>
      <div class="_border pad-y-1">pad-y-1</div>
    </div>

  </div>
</section>