<section class="section">
  <div class="container">

    <h1 class="title is-1">Getting Start</h1>

    <div class="block">
      See More: <a
        href="https://bulma.io/documentation"
        target="_blank"
      >
        https://bulma.io/documentation
      </a>
    </div>

    <h2 class="title is-3">Create Variables File</h2>

    <div class="block">
      copy lib/src/sample-variables.scss rename to variables.scss
    </div>
    <div class="block">
      copy lib/src/sample-variables-config.scss rename to variables-config.scss
    </div>

  </div>
</section>