<section class="section">
  <div class="container">

    <h1 class="title is-1">Getting Start</h1>

    <h2 class="title is-3">1. Create _variables.scss</h2>
    <div class="block">
      <div class="block">
        <p>// Own variables</p>
        <p>$special-background-color: #3273dc;</p>
      </div>
      <div class="block">
        <p>// Trunks UI variables</p>
        <p>&#64;forward "trunks-ui/utilities/variables" with (</p>
        <p class="push-left-2">// override Trunks UI variables</p>
        <p>);</p>
      </div>
    </div>
    <div class="block">
      <a
        class="text-link"
        target="_blank"
        href="https://github.com/akkaradej/trunks-ui/blob/master/web/src/styles/_variables.scss"
      >Example of most override variables</a>
    </div>

    <h2 class="title is-3">2. Create global styles, import _variables.scss and trunks-ui</h2>
    <div class="block">
      // styles.scss
      <p>&#64;use "variables";</p>
      <p>&#64;use "trunks-ui" with (</p>
      <p class="push-left-2">// custom config</p>
      <p>);</p>
    </div>
    <div class="block">
      <a
        class="text-link"
        target="_blank"
        href="https://github.com/akkaradej/trunks-ui/blob/master/web/src/styles.scss"
      >Example of most custom config</a>
    </div>

    <h2 class="title is-3">3. Import _variables.scss at any component</h2>
    <div class="block">
      // app.component.scss
      <p>&#64;use "variables";</p>
    </div>

  </div>
</section>